body {
	background: #FAEBD7 url(https://images.unsplash.com/photo-1499998477887-0617ca3eb761?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
	color: #576861;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 75%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #65AEC2;
	color: #fff;
	min-height: 100px;
	margin-top: 20px;
	font-family: 'Grenze', black;
}

header h1 {
	padding: 40px 60px;
	color: white;
}


/* Nav styles */
nav { background-color: #65AEC2; }
nav ul { 
	display: flex;
	justify-content: center;
}
nav li { padding: 10px 20px; }
nav a { color: #fff; }
nav a:hover { color: #C24C72; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #65AEC2;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
